


#details header{
	height: 160px;
	width: 390px;
	margin: 0 auto;
	
}	

#details header h1{
	
	font-family: "LionsDenRegular";
	margin: 0;
	text-align: center;
	font-weight: normal;
	pointer-events:none;
	background-image: url('skimages/detailBanner.png');
	background-repeat: no-repeat;
	background-size: 350px auto;
	background-position-x: center;
	min-height: 88px;
	padding: 70px 0 0 0;
	width: 334px;
	margin: 0 auto;
	position: relative;
	display: block;
	font-size: 30px;
	z-index: 1;
	overflow: visible;
}


#details header a{
	display: block;
	height: 88px;
	width: 82px;
	background-repeat: no-repeat;
	background-size: 82px auto;
	background-position-x: center;
	
	margin-top: 40px;
	z-index: 0;
}

#details header a span{
	
	display: none;
}

#details header a#prev{
	float: left;
}

#details header a#next{
	float: right;
}

#details header a#prev {background-image: url('skimages/detailBannerLeft.png');}
#details header a#prev:link {background-image: url('skimages/detailBannerLeft.png');}
#details header a#prev:visited {background-image: url('skimages/detailBannerLeft.png');}

#details header a#next{
	background-image: url('skimages/detailBannerRight.png');
}



#details header a#next:link, #details header a#next:visited{
	background-image: url('skimages/detailBannerRight.png');
}

#details header a#prev:hover, #details header a#prev:active{
	background-image: url('skimages/detailBannerLeftActive.png');
}

#details header a#next:hover, #details header a#next:active{
	background-image: url('skimages/detailBannerRightActive.png');
}