@font-face {
    font-family: 'SpoletoRegular';
    src: url('spoleto-webfont.eot');
    src: url('spoleto-webfont.eot?#iefix') format('embedded-opentype'),
         url('spoleto-webfont.woff') format('woff'),
         url('spoleto-webfont.ttf') format('truetype'),
         url('spoleto-webfont.svg#SpoletoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LionsDenRegular';
    src: url('lions_den-webfont.eot');
    src: url('lions_den-webfont.eot?#iefix') format('embedded-opentype'),
         url('lions_den-webfont.woff') format('woff'),
         url('lions_den-webfont.ttf') format('truetype'),
         url('lions_den-webfont.svg#LionsDenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdRegular';
    src: url('tradegothicltstd-webfont.eot');
    src: url('tradegothicltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('tradegothicltstd-webfont.woff') format('woff'),
         url('tradegothicltstd-webfont.ttf') format('truetype'),
         url('tradegothicltstd-webfont.svg#TradeGothicLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBoldNo.2';
    src: url('tradegothicltstd-bd2-webfont.eot');
    src: url('tradegothicltstd-bd2-webfont.eot?#iefix') format('embedded-opentype'),
         url('tradegothicltstd-bd2-webfont.woff') format('woff'),
         url('tradegothicltstd-bd2-webfont.ttf') format('truetype'),
         url('tradegothicltstd-bd2-webfont.svg#TradeGothicLTStdBoldNo.2') format('svg');
    font-weight: normal;
    font-style: normal;

}




body{
	
	padding: 0;
	margin: 0;
	background-image: url('bg_detail.jpg');
	background-repeat: no-repeat;
	background-size: 480px auto;
	background-position-x: center;
}

#landing header{
	background-image: url('bg_location.png');
	background-size: 480px 222px;
	background-repeat: no-repeat;
	min-height: 222px;
	z-index: 10;
}

#landing header h1{
	position: absolute;
	font-family: "SpoletoRegular";
	color: #FFFFFF;
	margin-top: 0;
	
	left: 5px;
	top: 50px;
	font-size: 40px;
	text-shadow: #444444 2px 2px 3px;
	-webkit-transform:rotate(-11.5deg);
	font-weight: normal;
	
}

#itemAndPlaceList{
	list-style: none;
	background-image: url('rule3.png');
	background-repeat: no-repeat;
	background-position: top;
	padding: 0;
	z-index: 0;
}

#itemAndPlaceList li{
	background-image: url('rule.png');
	background-repeat: no-repeat;
	background-position: bottom;
	
}

#itemAndPlaceList li:nth-child(2n+2){
	background-image: url('rule2.png');
}

#itemAndPlaceList li:nth-child(3n+3){
	background-image: url('rule3.png');
}


#itemAndPlaceList li a{
	text-decoration: none;
	color: #21211F;
	display: block;
	padding: 20px 0 20px 40px;
	background-image: url('itemListButtonUp.png');
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
	background-size: 95px 94px;
}

#itemAndPlaceList li a:hover, #itemAndPlaceList li a:active  {
	background-image: url('itemListButtonDown.png');
}

#itemAndPlaceList .item{
	font-family: "LionsDenRegular";
	font-size: 24px;
	margin-right: 95px;
}

#itemAndPlaceList .location{
	font-family: "TradeGothicLTStdBoldNo.2";
	font-size: 14px;
	text-transform: uppercase;
}

#itemAndPlaceList .distance{
	font-family: "TradeGothicLTStdRegular";
	font-size: 12px;
}



#wrapper {
	position:absolute; z-index:1;
	top:205px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
	z-index: 0;
}

			
			
			
			
			






@media (min-width:480px) {
	
	body{
		background-size: 640px auto;
	}


	
	
	#landing header{
		background-size: 640px 333px;
		min-height: 333px;
	}
	
	#landing header h1{
		left: 10px;
		top: 70px;
		font-size: 60px;
		text-shadow: #444444 2px 2px 3px;
		-webkit-transform:rotate(-12deg);
		
	}
	
	#itemAndPlaceList .item{
		font-size: 30px;
		margin-right: 127px;
	}
	
	#itemAndPlaceList .location{
		font-size: 18px;
	}
	
	#itemAndPlaceList .distance{
		font-size: 16px;
	}
	
	
	#wrapper {
		top:320px; bottom:0px; left:0;
	}
				
}

@media (min-width:640px) {
	* {
		display: none;
	}

}