@font-face {
    font-family: 'SpoletoRegular';
    src: url('fonts/spoleto-webfont.eot');
    src: url('fonts/spoleto-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/spoleto-webfont.woff') format('woff'),
         url('fonts/spoleto-webfont.ttf') format('truetype'),
         url('fonts/spoleto-webfont.svg#SpoletoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LionsDenRegular';
    src: url('fonts/lions_den-webfont.eot');
    src: url('fonts/lions_den-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lions_den-webfont.woff') format('woff'),
         url('fonts/lions_den-webfont.ttf') format('truetype'),
         url('fonts/lions_den-webfont.svg#LionsDenRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdRegular';
    src: url('fonts/tradegothicltstd-webfont.eot');
    src: url('fonts/tradegothicltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-webfont.svg#TradeGothicLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBoldNo.2';
    src: url('fonts/tradegothicltstd-bd2-webfont.eot');
    src: url('fonts/tradegothicltstd-bd2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-bd2-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-bd2-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-bd2-webfont.svg#TradeGothicLTStdBoldNo.2') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBdCnNo.20';
    src: url('fonts/tradegothicltstd-bdcn20-webfont.eot');
    src: url('fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-bdcn20-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-bdcn20-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdBdCnNo.20') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberatorRegular';
    src: url('fonts/liberator-webfont.eot');
    src: url('fonts/liberator-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberator-webfont.woff') format('woff'),
         url('fonts/liberator-webfont.ttf') format('truetype'),
         url('fonts/liberator-webfont.svg#LiberatorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
	overflow-y: visible;
		
}	


body{
	max-width: 640px;
	padding: 0;
	margin: 0 auto;
	background-image: url('skimages/bg_detail.jpg');
	background-repeat: no-repeat;
	background-size: 480px auto;
	background-position-x: center;
}

#landing header{
	background-image: url('skimages/bg_location.png');
	background-size: 480px 222px;
	background-repeat: no-repeat;
	min-height: 222px;
	z-index: 10;
}

#landing header h1{
	position: absolute;
	font-family: "SpoletoRegular";
	color: #FFFFFF;
	margin-top: 0;
	
	left: 5px;
	top: 50px;
	font-size: 40px;
	text-shadow: #444444 2px 2px 3px;
	-webkit-transform:rotate(-11.5deg);
	font-weight: normal;
	
}

#itemAndPlaceList{
	list-style: none;
	background-image: url('skimages/rule3.png');
	background-repeat: no-repeat;
	background-position: top;
	padding: 0;
	z-index: 0;
}

#itemAndPlaceList li{
	background-image: url('skimages/rule.png');
	background-repeat: no-repeat;
	background-position: bottom;
	
}

#itemAndPlaceList li:nth-child(2n+2){
	background-image: url('skimages/rule2.png');
}

#itemAndPlaceList li:nth-child(3n+3){
	background-image: url('skimages/rule3.png');
}


#itemAndPlaceList li a{
	text-decoration: none;
	color: #21211F;
	display: block;
	padding: 20px 0 20px 40px;
	background-image: url('skimages/itemListButtonUp.png');
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
	background-size: 95px 94px;
}

#itemAndPlaceList li a:hover, #itemAndPlaceList li a:active  {
	background-image: url('skimages/itemListButtonDown.png');
}

#itemAndPlaceList .item{
	font-family: "LionsDenRegular";
	font-size: 24px;
	margin-right: 95px;
}

#itemAndPlaceList .location{
	font-family: "TradeGothicLTStdBoldNo.2";
	font-size: 14px;
	text-transform: uppercase;
}

#itemAndPlaceList .distance{
	font-family: "TradeGothicLTStdRegular";
	font-size: 12px;
}



#wrapper {
	position:absolute; z-index:1;
	top:205px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
	z-index: 0;
}

#details header{
	background-image: url('skimages/detailBanner.png');
	background-repeat: no-repeat;
	background-size: 350px auto;
	background-position-x: center;
	min-height: 158px;
}

#details header h1{
	font-family: "LionsDenRegular";
	margin: 0;
	text-align: center;
	font-weight: normal;
	padding-top: 70px;
	font-size: 30px;
}			
		
#details #place{
	width: 350px;
	padding-left: 20px;
	margin: 0 auto; 
}	
			
#details #location{
	font-family: "TradeGothicLTStdBdCnNo.20";
}			
			
#details address{
	font-family: "TradeGothicLTStdRegular";
	font-style: normal;
	display: table-cell;
	vertical-align: top;
}				
			
#details img{
	display: block;
	border: 10px solid #FFFFFF;
	margin: 0px auto 60px auto;
	-webkit-box-shadow: 2px 2px 5px 2px #222;
 	box-shadow:         2px 2px 5px 2px #222;
 	-webkit-transform:rotate(-8deg);
 	width: 324px; 
 	height: 182px;
 	 
}		

#details #notes{
	font-family: "LionsDenRegular";
	width: 350px;
	padding-left: 20px;
	margin: 0 auto; 

}

#details #directions{
	display: block;
	width: 150px;
	height: 110px;
	background-image: url('skimages/directionsUp.png');
	background-repeat: no-repeat;
	background-size: 150px 110px;
	text-decoration: none;
	color: #21211F;
	display: table-cell;
	font-family: "LionsDenRegular";
	text-align: center;
}

#details #directions span{
	display: block;
	padding-top: 40px;
}

#details #directions:hover{
	color: #FFFFFF;
	background-image: url('skimages/directionsDown.png');
}


#androidmenu{
	font-family: "LiberatorRegular";
	background-image: url('skimages/bg_menu.png');
	background-repeat: no-repeat;
	background-size: 480px auto;
	background-position-x: center;
	min-height: 119px;
	position:fixed;
	width: 100%;
	bottom: -200px;
	
	
	-webkit-transition: bottom 0.5s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: bottom 0.5s ease-out;  /* FF4+ */
	-ms-transition: bottom 0.5s ease-out;  /* IE10? */
	-o-transition: bottom 0.5s ease-out;  /* Opera 10.5+ */
	transition: bottom 0.5s ease-out;	
	
	
}

#androidmenu menu{
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;		
}
#androidmenu a{
	display: table-cell;
	width: 50%;
	text-align: center;
	text-decoration: none;
	color: #8A5C30;
	font-size: 35px;
	padding: 20px 0;
}

#androidmenu a:hover, #androidmenu a:active{
	color: #0A2527;
	background-image: url('skimages/androidmenuhighlight.png');
}



#edit form > *{
	width: 300px;
	margin: 0 auto;
}	

#edit label{
	display: block;
	font-family: "LiberatorRegular";
	font-size: 25px;
}

#edit input, #edit textarea{
	display: block;
	font-family: "LionsDenRegular";
	font-size: 20px;
	
}

#edit form > a{
	display: block;
}	



#androidStaticMenu{
	font-family: "LiberatorRegular";
	background-image: url('skimages/bg_tabmenu.png');
	background-repeat: no-repeat;
	background-size: auto auto;
	background-position-x: center;
	min-height: 65px;
	position:fixed;
	width: 80%;
	left: 10%;
	bottom: 0;
	margin: 0 auto;
	
	
}


#androidStaticMenu menu{
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;		
}

#androidStaticMenu a{
	display: table-cell;
	width: 50%;
	text-align: center;
	text-decoration: none;
	color: #8A5C30;
	font-size: 35px;
	padding: 20px 0;
	
	
}

#androidStaticMenu a:hover, #androidStaticMenu a:active{
	color: #0A2527;
	background-image: url('skimages/androidmenuhighlight.png');
	background-repeat: no-repeat;
	background-position: center;
}


#edit #notes_content{
	display: block;
	width: 240px;
	margin: 20px auto;
	min-height: 100px;
	background: none;
	border:none;
	background-image: url('skimages/noteBottom.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 100%;
	padding: 30px;
	outline: 0;
	overflow: hidden;
	font-family: "LionsDenRegular";
	font-size: 30px;
	resize: vertical;
}

#edit #notes {
	clear: both;
	width: 300px;
	margin: 20px auto;
	min-height: 100px;
	background-image: url('skimages/noteTop.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 0;
}	

#edit #notes_content_hidden{
	display: block;
	width: 240px;
	margin: 20px auto;
	min-height: 100px;
	background: none;
	padding: 30px;
	outline: 0;
	font-family: "LionsDenRegular";
	font-size: 30px;
	visibility: hidden;
	position: fixed;
}

#edit input {
	border:none;
	background: none;
	outline: 0;
	background-image: url('skimages/bg_editfield.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 0;
	min-height: 50px;
	text-align: center;
}

#edit #locationSelector{
	display: block;
	font-family: "LionsDenRegular";
	color: 	#582D07;
	text-decoration: none;
	background-image: url('skimages/editLocationUp.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 0;
	height: 90px;
	text-align: center;
	line-height: 4;
	font-size: 20px;
	margin-top: 0;
	
}

#edit #locationSelector:hover,#edit #locationSelector:active{
	color: #ffffff;
	background-image: url('skimages/editLocationDown.png');
}

#edit #selectors{
	display: table;
	width: 300px;
	margin: 0 auto;
}

#edit #selectors div{
	display: table-cell;
}		

#edit #photoSelector{
	display: block;
	text-decoration: none;
	background-image: url('skimages/cameraButtonUp.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 0;
	min-height: 160px;
	max-width: 102px;
	margin: 0 auto;
}

#edit #photoSelector:hover,#edit #photoSelector:active{
	background-image: url('skimages/cameraButtonDown.png');
}

#edit #noteSelector{
	display: block;
	text-decoration: none;
	background-image: url('skimages/writeButtonUp.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: 0;
	min-height: 160px;
	max-width: 102px;
	margin: 0 auto;
}

#edit #noteSelector:hover,#edit #noteSelector:active{
	background-image: url('skimages/writeButtonDown.png');
}



@media (min-width:480px) {
	
	body{
		background-size: 640px auto;
	}


	
	
	#landing header{
		background-size: 640px 333px;
		min-height: 333px;
	}
	
	#landing header h1{
		left: 10px;
		top: 70px;
		font-size: 60px;
		text-shadow: #444444 2px 2px 3px;
		-webkit-transform:rotate(-12deg);
		
	}
	
	#itemAndPlaceList .item{
		font-size: 30px;
		margin-right: 127px;
	}
	
	#itemAndPlaceList .location{
		font-size: 18px;
	}
	
	#itemAndPlaceList .distance{
		font-size: 16px;
	}
	
	
	#wrapper {
		top:320px; bottom:0px; left:0;
	}
	
	#details header{
		background-size: 467px auto;
		min-height: 211px;
	}
	
	#details header h1{
		padding-top: 93px;
		font-size: 40px;
	}
	
	#details #place{
		width: 467px;
	}
	
	#details #notes{
		width: 467px;
	}
	
	#details img{
		border: 16px solid #FFFFFF;
		margin: 40px auto 90px auto;
	 	width: 432px; 
	 	height: 243px;
	 	 
	}
	
	#androidmenu{
		background-size: 640px auto;
		min-height: 159px;
				
}

@media (min-width:640px) {
	* {
		display: none;
	}

}