<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.terrenceryan.finicky.phone.html"
	version 	= "0.0.1">

	<name>Finicky</name>

	<description>
		An app for tracking your favorite things. 
	</description>

	<author href="http://terrenceryan.com"
		email="terry@terrenceryan.com">
		Terrence Ryan
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<gap:splash src="assets/splash.jpg" width="640" height="960" />

	<icon src="assets/icons/icon.png" gap:role="default" />
	<icon src="assets/icons/icon512.png" gap:role="default" width="512" height="512" />
	<icon src="assets/icons/icon72.png" gap:role="default" width="72" height="72" />
	<icon src="assets/icons/icon57.png" gap:role="default" width="57" height="57" />
	<icon src="assets/icons/icon48.png" gap:role="default" width="48" height="48" />
	<icon src="assets/icons/icon36.png" gap:role="default" width="36" height="36" />
	<icon src="assets/icons/icon29.png" gap:role="default" width="29" height="29" />
	
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>